<div class="login-container">
  <mat-card class="box">
    <img src="assets/angular-logo.png">

    <form class="formulario-login">
      <mat-card-content>

        <mat-form-field>
          <mat-label>Usuário</mat-label>
          <input matInput type="text" placeholder="Ex. Usuário">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" placeholder="Senha">
        </mat-form-field>


      <button mat-raised-button color="primary">Login</button>

      </mat-card-content>
    </form>

  </mat-card>
</div>
